.item {
  color: Red;
  display: flex;
  align-items: center;
}
.item img{
  max-width: 50px;
  margin-right: 10px;
}
.active{
  color: gold;
}
.likeBlock{
  display: block;
}
.postGroup{
  margin-bottom: 10px;
}